<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link
        	rel="stylesheet"
			type="text/css"
        	th:href="@{/css/style.css}"
    	>
	    <title>Alumnos</title>	 
	</head>
	<body>
		<table>	
		  	<caption>ALUMNOS</caption>	
		  	<thead>        
		    	<tr>	  
					<th >NOMBRE</th>
					<th >APELLIDOS</th>
					<th >EDAD</th>
					<th >DNI</th>
					<th >PROMOCIONA</th>
				</tr>
			</thead>
		  	<tbody>
				<tr th:each="alumno : ${alumnos}">
					<td th:text="${alumno.nombre}"></td>
					<td th:text="${alumno.apellidos}"></td>
					<td th:text="${alumno.edad}"></td>
					<td th:text="${alumno.dni}"></td>
					<td th:text="${alumno.isPromociona}"></td>		      
					</tr>
			</tbody>
		</table>
		<a th:href="@{/home}" class="boton">HOME</a>
	</body>
</html>
